extends ../__template/sub-template.pug

block variables
	- var seoTitle = '고문헌 한자 OCR'

block content
	section.app-section.app-sub__tit
		h1 고문헌 한자 OCR
		include ../__includes/app-tooltip__ocr.pug
	section.app-section.app-sub__grid.pg-ocr 
		article.grid-article.ocr-img
			h2.grid-article__tit 원문 이미지
			.grid-article__content 
				.img-box.is-loaded 
					input#ocrImgUpload.a11y-visible(type="file")
					.img-wrap#pageImage
						figure
							img(src="../static/images/_temp/ocr_img.jpg", alt="")
							.box-mark.box-selected
					#box_char
					.segment-label 
						span 목재선생문집 일 목재선생문집 일 목재선생문집 일 목재선생문집 일 목재선생문집 일 목재선생문집 일 목재.jpg
						span.form-selector
							input#segmentChkbox(type="checkbox")
							label(for="segmentChkbox") 세그먼트 표시
				.button-area
					button.solid-button--lg.button-ocr-upload(type='button', data-theme='mdgreen' data-round="lg")
						i.icon-file-img
						span.button-content 이미지 파일 선택
		article.grid-article.ocr-txt
			h2.grid-article__tit 원문 텍스트
			.grid-article__content 
				.txt-box
					.txt-box__content#trans_txt_div
						span.is-selected 禁
						span 断
						span 知
				.button-area
					//- button.solid-button--lg(type='button', data-theme='mdgreen' data-round="lg")
					//- 	span.button-content
					//- 		em.font-hanja 正字
					//- 		| 로 변환하기
					button.solid-button--lg.js-open-layered(type='button', data-theme='mdgreen' data-round="lg",
						onclick="window.open('../__layered/ocr-txt-download.html', 'OCR 텍스트를 파일로 내려받기', 'width=600, height=320, location=no, status=no, scrollbars=no');")
						//- onclick="window.open('ocr__popup.html', 'OCR 텍스트를 파일로 내려받기', 'width=600, height=320, location=no, status=no, scrollbars=no');")
						span.button-content 텍스트 파일로 내려받기
		article.grid-article.ocr-info
			h2.grid-article__tit 한자정보 및 수정
			.grid-article__content 
				.detail-box-area
					.detail-box
						.detail-box__main
							.detail-box__main-result
								.charactor
									strong 覽
									span 람
								.button-area
									span.tag-label 99.89%
									button.solid-button--sm.btn-apply(type='button', data-theme='ltgreen', data-round="sm")
										span.button-content 적용
							.detail-box__main-info
								.info-mean
									p
										strong 람
										span 두루보다, 전망, 받다
						.detail-box__sub 
							ul.detail-tags
								li 
									span.tag-label--sm 유니코드
									span.tag-msg U+089A7
								li 
									span.tag-label--sm.font-hanja 正字
									span.tag-msg 
										em 覽,
										em 覽,
										em 覽,
										em 覽,
										em 覽,
										em 覽,
										em 覽,
										em 覽,
										em 覽,
										em 覽,
										em 覽,
								li 
									span.tag-label--sm.font-hanja 簡字
									span.tag-msg
										em 览, 
										em 览, 
										em 览, 
										em 览, 
										em 览
					.detail-box
						.detail-box__main
							.detail-box__main-result
								.charactor
									strong 覽
									span 람
								.button-area
									span.tag-label 99.89%
									button.solid-button--sm.btn-apply(type='button', data-theme='ltgreen', data-round="sm")
										span.button-content 적용
							.detail-box__main-info
								.info-mean
									p
										strong 각
										span 깨닫다, 깨우치다, 깨달음, 나타나다, 높다,
									p
										strong 교
										span 깨다, 깨우다
						.detail-box__sub 
							ul.detail-tags
								li 
									span.tag-label--sm 유니코드
									span.tag-msg U+089A7
								li 
									span.tag-label--sm.font-hanja 正字
									span.tag-msg 覽, 覽, 覽
								li 
									span.tag-label--sm.font-hanja 簡字
									span.tag-msg 览, 览, 览
								li 
									span.tag-label--sm.font-hanja 簡字
									span.tag-msg 览, 览, 览
								li 
									span.tag-label--sm.font-hanja 古字
									span.tag-msg 览, 览, 览
					.detail-box
						.detail-box__main
							.detail-box__main-result
								.charactor
									strong 覽
									span 람
								.button-area
									span.tag-label 99.89%
									button.solid-button--sm.btn-apply(type='button', data-theme='ltgreen', data-round="sm")
										span.button-content 적용
							.detail-box__main-info
								.info-mean
									p
										strong 각
										span 깨닫다, 깨우치다, 깨달음, 나타나다, 높다,
									p
										strong 교
										span 깨다, 깨우다
						.detail-box__sub 
							ul.detail-tags
								li 
									span.tag-label--sm 유니코드
									span.tag-msg U+089A7
								li 
									span.tag-label--sm.font-hanja 正字
									span.tag-msg 覽, 覽, 覽
								li 
									span.tag-label--sm.font-hanja 簡字
									span.tag-msg 览, 览, 览
								li 
									span.tag-label--sm.font-hanja 簡字
									span.tag-msg 览, 览, 览
								li 
									span.tag-label--sm.font-hanja 古字
									span.tag-msg 览, 览, 览
					.detail-input 
						span.form-text.t01
							span.form-input-content
								input(type='text', placeholder='직접 입력')
						button.solid-button--sm.btn-apply(type='button', data-theme='ltgreen', data-round="md")
							span.button-content 적용하기
block append bodyJS
	script(src="../static/js/panzoom.min.js") 
	script.
		$(document).ready(function () {
			var viewer;
			function viewerMake(){
					var area = document.querySelector('#pageImage');
					viewer = panzoom(area, {
							zoomSpeed: 0.2,
							maxZoom: 3,
							minZoom: 1,
					});
			}
			viewerMake();
		});
